g/target
/classes
/checkouts

/.lein-*
/.nrepl-port
/.prepl-port

pom.xml
pom.xml.asc

*.class
*.jar

.idea/
*.iml
*.ipr
*.iws
*.swp
*.swo
*.DS_Store

.vscode/

*~
.#*
nrepl-port

.hg/
.hgignore

profiles.clj

/logs/
*.log

*.bak
*.tmp
*.orig
*.rej
